.footer-bottom {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px 0;

  .container {
    width: 100%;

    .footer-bottom-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reserver-by {
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        padding-bottom: 30px;
      }
      .our-online-pages {
        .social-icon {
          color: rgba(255, 255, 255, 0.5);
          width: 32px;
          height: 32px;
          overflow: hidden;

          margin: 0 5px 5px 0;
          display: inline-block !important;
          background-color: transparent;
          line-height: 30px !important;
          text-align: center;

          &:hover :first-child {
            margin-top: -35px;
          }
          &:hover :last-child {
            margin-top: 5px;
          }

          :last-child {
            color: #fff !important;
            margin-top: 5px;
          }

          i {
            width: 30px;
            height: 30px;
            display: block;
            position: relative;
            transition: all 0.3s ease;
            font-size: 14px;
            line-height: 27px !important;
            border-radius: 3px;
            padding: 3px;
          }
        }

        .si-facebook {
          i {
            &:last-child {
              background-color: #3b5998 !important;
            }
          }
        }
        .si-twitter {
          i {
            &:last-child {
              background-color: #00acee !important;
            }
          }
        }
        .si-gplus {
          i {
            &:last-child {
              background-color: #dd4b39 !important;
            }
          }
        }
        .si-pinterest {
          i {
            &:last-child {
              background-color: #c8232c !important;
            }
          }
        }
        .si-vimeo {
          i {
            &:last-child {
              background-color: #86c9ef !important;
            }
          }
        }
        .si-github {
          i {
            &:last-child {
              background-color: #171515 !important;
            }
          }
        }
        .si-yahoo {
          i {
            &:last-child {
              background-color: #720e9e !important;
            }
          }
        }
        .si-linkedin {
          i {
            &:last-child {
              background-color: #0e76a8 !important;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .footer-bottom {
    .footer-bottom-content {
      display: block !important;
      text-align: center;
    }
  }
}
