.footer-bottom {
  width: 100%;
  height: 16vh;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px 0;

  .container {
    width: 100%;
    height: 95%;

    .footer-bottom-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reserver-by {
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
      }
      .our-online-pages {
        .social-icon {
          color: rgba(255, 255, 255, 0.5);
          width: 32px;
          height: 32px;
          overflow: hidden;

          margin: 0 5px 5px 0;
          display: inline-block !important;
          background-color: transparent;
          line-height: 30px !important;
          text-align: center;

          &:hover:first-child {
            margin-top: -35px;
          }
          &:hover:last-child {
            margin-top: 0;
          }

          :last-child {
            color: #fff !important;
          }
          .si-facebook:last-child {
            background-color: #3b5998 !important;
          }
          .si-twitter:last-child {
            background-color: #00acee !important;
          }
          .si-gplus:last-child {
            background-color: #dd4b39 !important;
          }
          .si-pinterest:last-child {
            background-color: #c8232c !important;
          }

          .si-vimeo:last-child {
            background-color: #86c9ef !important;
          }

          .si-github:last-child {
            background-color: #171515 !important;
          }

          .si-yahoo:last-child {
            background-color: #720e9e !important;
          }
          .si-linkedin:last-child {
            background-color: #0e76a8 !important;
          }

          i {
            width: 30px;
            height: 30px;
            display: block;
            position: relative;
            transition: all 0.3s ease;
            font-size: 14px;
            line-height: 27px !important;

            border-radius: 3px;
            padding: 3px;
          }
        }
      }
    }
  }
}
