.app-wrapper {
  .carousel {
    .slide {
      background: transparent ;
    }

    .control-dots {
      .dot {
        background: #f0a540;
        box-shadow: none;

        &:focus{
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
