.service-box {
  background: #ffffff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;

  &:hover {
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  .service-box-img {
    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .service-box-info {
    padding: 24px;
    .service-box-title {
      font-size: 17px;
      line-height: 26px;
      font-family: "Quicksand-Light";
      font-weight: 600;
      color: #333333;
    }
    .service-box-desc {
      font-size: 14px;
      margin-top: 5px;
      color: #f0a540;
      line-height: 21px;
      font-weight: 300;
      font-family: "Quicksand-Light";
    }

    .service-box-link {
      color: #f0a540;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 10px;
      display: block;
    }
  }
}
