.section-welcome{
    position: relative;
    overflow: hidden;

    .welcome-bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../../../assets/img/hero-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center 0px;
        transition: background-image 300ms ease-in 200ms;
    }
    .welcome-info{
        min-height: 100vh;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}