@import "../assets/fonts/icons/font-icons.scss";
@import "../assets/fonts/quicksand/Quicksand.scss";
@import "react-responsive-carousel/lib/styles/carousel.min.css"; // requires a loader
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
