.section-needhelp {
  padding: 60px 0;

  .needhelp-info {
    text-align: center;
    margin: auto;
    max-width: 640px;

    .needhelp-info-title {
      font-size: 36px;
      font-weight: 400;
      line-height: 54px;
      color: #333333;
      font-family: "Quicksand-Regular";
    }

    .needhelp-info-desc {
      margin-top: 10px;
      font-weight: 300;
      color: #777;
      font-size: 17px;
      line-height: 25px;
      font-family: "Quicksand-Light";
    }
  }
}

.needhelp-properties {
  padding-top: 60px;
  .properties-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .properties-item {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
  }
}

@media screen and(min-width: 576px) {
  .section-needhelp {
    .needhelp-info {
      .needhelp-info-title {
        font-size: 36px;
        line-height: 54px;
      }

      .needhelp-info-desc {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

@media screen and(min-width: 768px) {
  .needhelp-properties {
    .properties-item {
      width: 33.333%;
    }
  }
}
